

nav {
    padding: 16px;
    text-align: center

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.nav {
    color: black;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}


h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


footer {
    background: black;
    color: white;
    text-align: center;
}

.foot {
    color: white;
}