{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Cities</h1>
    {% for city in cities.states.all %}
    <a href="{% url 'to_do_list' city.id %}"><h2>{{ city.title }}</h2></a>
    <img src="{{ city.picture }}" alt="Hi" width="300" height="250">
    <p class="des">{{ city.description }}</p>
    {% endfor %}
</main>
{% endblock content %}
