{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}
{% block content %}
    <h1>States</h1>
    {% for state in lists %}
        <a href="{% url 'list_cities' state.id %}"><h2>{{ state.title }}</h2></a>
        <img src="{{ state.picture }}" alt="" width=350 height=250>
    {% endfor %}
{% endblock content %}
