{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <h1>Hello from the team</h1>
        <h2>Team Member: Davis Jkwon</h2>
        <h2>Team Member: Gonzalez Jeremiah </h2>
    </main>
{% endblock content %}