{% extends 'base.html' %}

{% block content %}
<main>

    {% for item in activity.cities.all %}
    <h1>Things To Do In {{item.name}}</h1>
    <div>
        <ul>
            <li>{{item.activity1}}</li>
            <li>{{item.activity2}}</li>
            <li>{{item.activity3}}</li>
            <li>{{item.activity4}}</li>
        </ul>
    </div>
    {% endfor %}
</main>
{%endblock content%}
