{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/ttd.css" %}">
</head>
<body>
    <header>
        <nav>

            {% if user.is_authenticated %}
            <a href="{% url 'list_states' %}" class = "nav">Home</a>
            <a href="{% url 'logout' %}" class = "nav">Logout</a>
            {% else %}
            <a href="{% url 'signup' %}" class = "nav">Signup</a>
            <a href="{% url 'login' %}" class = "nav" >Login</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        Made by the <a href="{% url 'team' %}" class="foot">team</a>
    </footer>
</body>
</html>
